/*Dashbord - Página Secundária*/
/*Logo do topo*/
#dashbord{
    margin-left: -10px; 
    margin-top: -10px;
    margin-bottom: -10px;
}
body{
    background: black;
    color: white;
    font-family: arial;
}
#quadradoverdeclaro{
	width: 240px;
	height: 575px;
	background-color: #7ddbb9;
	margin-left: -10px; 
    margin-top: 0px;
    
}

/*Menus laterais*/

ul{
    list-style-type: none;
}
#home{
    font-family: arial;
    color:white;
    padding-top: 40px;
    
    
}
#lancamentos{
    font-family: arial;
    color:white;
    padding-top: 40px;
}

#calendario{
    font-family: arial;
    color: white;
    padding-top: 40px;
}

#lista{
    font-family: arial;
    color: white;
    padding-top: 40px;
}

#opcoes{
    
}