/*Dashbord - Página Secundária*/
/*Logo do topo*/
#dashbord{
    margin-left: -10px; 
    margin-top: -10px;
    margin-bottom: -10px;
}
body{
    
    font-family: arial;
}
#quadradoverdeclaro{
	width: 240px;
	height: 575px;
	background-color: #7ddbb9;
	margin-left: -10px; 
    margin-top: 0px;
    
}

/*Menus laterais*/

ul{
    list-style-type: none;
    
}
div img{
    padding-right: 10px;
    
}

.lista1{
    position: absolute;
    top: 40px;
    font-family: arial;
    color:white;
    padding-top: 40px;
    margin-left: 0px;
    line-height: 50px;
}

.lista2{
    position: absolute;
    top: 40px;
    font-family: arial;
    color:white;
    padding-top: 35px;
    margin-left: 40px;
    line-height: 50px;
       
}
/*#home{
    position: absolute;
    top: 40px;
    font-family: arial;
    color:white;
    padding-top: 40px;
    margin-left: -10px;
        
}
#lancamentos{
    position: absolute;
    top: 100px;
    font-family: arial;
    color:white;
    padding-top: 40px;
    margin-left: -10px;
}

#calendario{
    position: absolute;
    top: 160px;
    font-family: arial;
    color: white;
    padding-top: 40px;
    margin-left: -10px;
}

#lista{
    position: absolute;
    top: 220px;
    font-family: arial;
    color: white;
    padding-top: 40px;
    margin-left: -10px;
}
*/
/*Texto do corpo da página*/

#texto{
    position: absolute;
    top: 30px;
    left: 280px;
    font-family: arial;
    padding-top: 40px;
    margin-left: -10px;
}

#opcoes{
    position: absolute;
    top: -20px;
    right: 50px;
    font-family: arial;
    padding-top: 35px;
    margin-right: 130px;
    
}
/*Retangulos*/
.azul{
    width: 240px;
    height: 135px;
    border-radius: 8px;
    background: #2f80ec;
    position: absolute;
    top: 170px;
    left: 270px;
    margin-left: 0px;

}
.amarelo{
    width: 240px;
    height: 135px;
    border-radius: 8px;
    background: #f2c94d;
    position: absolute;
    top: 170px;
    left: 500px;
    margin-left: 35px;
}
.verde{
    width: 240px;
    height: 135px;
    border-radius: 8px;
    background: #6ed099;
    position: absolute;
    top: 170px;
    left: 730px;
    margin-left: 70px;
}
.vermelho{
    width: 240px;
    height: 135px;
    border-radius: 8px;
    background: #eb5757;
    position: absolute;
    top: 170px;
    left: 960px;
    margin-left: 105px;
}
.numeros{
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    text-align: justify;
    margin-top: 20px;
    margin-left: 18px;
}

.textos{
    font-size: 12px;
    color: white;
    margin: 20px;
    margin-top: -40px;
}

.grafico{
    position: absolute;
    top: -10px;
    right: -110px;
    font-family: arial;
    padding-top: 40px;
    margin-right: 130px;
}

/*blocos brancos*/
.blocosBranco1{
    width: 510px;
    height: 260px;
    background: white;
    position: absolute;
    bottom: 50px;
    left: 270px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px;
}

.blocosBranco2{
    width: 510px;
    height: 260px;
    background: white;
    position: absolute;
    bottom: 50px;
    left: 800px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px;
    
}
#projecao{
    margin-left: 50px;
    margin-top: 5px;
}

.textobb{
    margin-left: 20px;
}
.textobb2{
    margin-left: 25px;
    font-size: 11px;
    color: gray;
}
