/*Dashbord - Página Secundária*/
/*Logo do topo*/
#dashbord{
    margin-left: -10px; 
    margin-top: -10px;
    margin-bottom: -10px;
}
body{
    
    font-family: arial;
}
#quadradoverdeclaro{
	width: 240px;
	height: 575px;
	background-color: #7ddbb9;
	margin-left: -10px; 
    margin-top: 0px;
    
}

/*Menus laterais*/

ul{
    list-style-type: none;
    
}
div img{
    padding-right: 10px;
    
}
#home{
    position: absolute;
    top: 40px;
    font-family: arial;
    color:white;
    padding-top: 40px;
    margin-left: -10px;
        
}
#lancamentos{
    position: absolute;
    top: 100px;
    font-family: arial;
    color:white;
    padding-top: 40px;
    margin-left: -10px;
}

#calendario{
    position: absolute;
    top: 160px;
    font-family: arial;
    color: white;
    padding-top: 40px;
    margin-left: -10px;
}

#lista{
    position: absolute;
    top: 220px;
    font-family: arial;
    color: white;
    padding-top: 40px;
    margin-left: -10px;
}

/*Texto do corpo da página*/

#texto{
    position: absolute;
    top: 30px;
    left: 290px;
    font-family: arial;
    padding-top: 40px;
    margin-left: -10px;
}

#opcoes{
    position: absolute;
    top: -20px;
    right: 50px;
    font-family: arial;
    padding-top: 35px;
    margin-right: 130px;
}