/*Randomzap - Página Principal*/

*{ /*Usar esse asterisco modifica toda a página.*/
    margin: 0; /*Tira toda a margem da página*/
    padding: 0; /*Tira todo o afastamento da página.*/
}
body{
    font-family: Arial, Helvetica, sans-serif; /*Muda a fonte de todo o corpo da página*/
}

.container{
	max-width: 500px; /*Limita o espaço da página no tamanho determinado*/
	margin: auto; /*centraliza o espaço determinado acima no meio da tela*/
	text-align: center; /*centraliza nesse caso a imagem no meio da tela*/
	margin-top: 50px;
	
}
#formContainer{
	max-width: 300px;
	margin: auto;

}

#paragrafo{
	margin-top: 50px;
	margin-bottom: 60px;
	

}

.textForm{
	text-align: left;
	font-size: 12px;
}

input[type="submit"]{
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	border: none;
	margin-bottom: 30px;
	box-shadow: rgb(216, 216, 216) 2px 2px;
	

}
input[type="email"] {
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	border: none;
	margin-bottom: 30px;
	box-shadow: rgb(216, 216, 216) 2px 2px;

}
input[type="password"]{
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	border: none;
	margin-bottom: 50px;
	box-shadow: rgb(216, 216, 216) 2px 2px;

}

input[type="submit"]{
	color: white;
	background-color: #00bc77;
	font-weight: 700;
	margin-top: 10px;
}

input[type="checkbox"]{
	margin-left: -200;
	text-align: left;
	margin-bottom: 40px;
	
}

a{
	font-size: 12px;
	margin-bottom: 40px;
	margin: 60px;
	margin-right: 0;
	color: #00bc77;
}

.textmini{
	font-size: 12px;
}